name: manually-triggered
on:
  workflow_dispatch:
    inputs:
      param:
        description: 'Welcome'
        required: true
        default: 'World'
jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Hello"
        echo "${{ github.event.inputs.param }}!"
