name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Welcome person\'s name'
        required: true
        default: 'World'
jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - run: |
        echo "Hello ${{ github.event.inputs.name }}!"
